<% include partials/header %>
<div class="row">
    <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l3 xl5 offset-xl3">
        <div class="card">
            <div class="card-content">
                <% if (sessionFlash && sessionFlash.passwordAlertMsg ) { %>
                <div class="chip <%= sessionFlash.type %> alert-box">
                    <i class=" close material-icons right white-text">close</i>
                    <% if (sessionFlash.passwordAlertMsg) { %>
                        <h6 class="white-text"><b>Password:</b> <%= sessionFlash.passwordAlertMsg %><h6>
                    <% } %>
                    </div>
                </div>
                <% } %>
                <h4 style="margin-top:0px;text-align:center">Change Password</h4>
                <div class="divider"></div>
                <br>
                <form action="/user/<%= user._id %>/password" method="post">
                <div class="row">
                    <div class="center col s12">
                    <div class="center col s12">
                        <img class="rounded-image" src="/img/defaultuser.jpg" style="vertical-align: middle;" alt="" width="150px" height="150px">
                    </div>
                    <div class="input-field col s12">
                        <i class="fas fa-lock prefix"></i>
                        <label for="password">Password</label>
                        <input type="password" minlength="8" maxlength="50" name="password" id="password1" required autofocus 
                        <% if (sessionFlash && sessionFlash.passwordErrorMsg ) { %>
                            class="invalid" />
                        <% } else { %>
                                class="validate" />
                        <% } %>
                        
                        <% if (sessionFlash && (sessionFlash.passwordErrorMsg) ) { %>
                                <span class="helper-text" data-error="<%= sessionFlash.passwordErrorMsg %>"></span>
                        <% } else { %>
                                <span id="password1-error" class="helper-text" data-error="">Password must be between 8 and 50 characters</span>
                        <% } %> 
                    </div>
                    <div class="input-field col s12">
                        <i class="fas fa-lock prefix"></i>
                        <label for="password2">Confirm Password</label>
                        <input type="password" minlength="8" maxlength="50" name="password2" id="password2" required 
                        <% if (sessionFlash && (sessionFlash.passwordErrorMsg) ) { %>
                            class="invalid" />
                        <% } else { %>
                                class="validate" />
                        <% } %>
                        <% if (sessionFlash && (sessionFlash.passwordErrorMsg) ) { %>
                                <span class="helper-text" data-error="<%= sessionFlash.passwordErrorMsg %>"></span>
                        <% } else { %>
                                <span id="password2-error" class="helper-text" data-error=""></span>
                        <% } %>
                    </div>
                    <div class="center col s12" style="margin-bottom:20px;margin-top:40px">
                        <input style="width: 100%" type="submit" value="Change Password" class="btn btn-large blue">
                    </div>
                    <div class="center col s12">
                        <a href="/user/<%= user._id %>/edit" style="width: 100%" class="btn btn-large waves-effect waves-light black">Cancel</a>
                    </div>
                </div>
                </form>
            </div>    
        </div>
    </div>
</div>
<% include partials/footer %>

